<h1>List of Questions</h1>

<%= link_to fa_icon(:plus, text: " New Question"), new_question_path, class: "btn btn-primary"%>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td class="col-md-6"><%= question.question %></td>
        <td class="col-md-2"><%= question.answer %></td>
        <td class="col-md-4"> 
        <%= link_to fa_icon(:eye, text: "Show"), question, class: "btn btn-success" %>
        <%= link_to fa_icon(:pencil, text: "Edit"), edit_question_path(question), class: "btn btn-warning" %>
        <%= link_to fa_icon(:trash, text: "Delete"), question, method: :delete,
        data: { confirm: 'Are you sure to delete this one?' }, class: "btn btn-danger" %> 
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>
<center>
  <%= paginate @questions, window: 2, theme: 'twitter-bootstrap-4' %>
</center>