<div class="center jumbotron">
    <h3><strong>Welcome to Questionaire</strong></h3>
    <h4>
      You are challenged to answer question. </br>
      <% if !@random_id.nil? -%>
      Picked randomly <%= link_to fa_icon(:try, text: "Try"), answer_path(@random_id), class: "btn btn-success" %> </br>
      or Pick one below
      <% else -%>
      But, looks like there are no question. <%= link_to "Create question", new_question_path, class: "btn btn-success" %> </br>
      <% end -%>
    </h4>
</div>

<table class="table table-hover col-md-8">
  <thead>
    <tr>
      <th class="col-md-6"><h4>Question</h4></th>
      <th class="col-md-2"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td class="col-md-6"><%= question.question.html_safe %></td>
        <td class="col-md-2"><%= link_to fa_icon(:try, text: "Try"), answer_path(question.id), class: "btn btn-success" %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<center>
  <%= paginate @questions, window: 3, theme: 'twitter-bootstrap-4' %>
</center>
